<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Início", "Index", "Home")</li>
        <li>@Html.ActionLink("Meus Pedidos", "ListaDePedidosUsuario", "Pedido")</li>
        <li>@Html.ActionLink("Meus Dados", "Alterar", "Usuario")</li>
        <li>@Html.ActionLink("Meus Endereços", "ListaDeEnderecos", "Endereco")</li>
        <li>@Html.ActionLink("Sair", "Index", "Home")</li>
    </ul>
</div>