@model IEnumerable<Model.Models.Complemento>
@using Negocio.Business

@{
    ViewBag.Title = "Selecionar Complementos";
}

<h2>Selecionar Complementos - Produto: @ViewBag.NomeProduto</h2>
@using (Html.BeginForm())
{

    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" id="@item.Id" name="Complemento" value="@item.Id" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
            </tr>
        }

    </table>

    <div class="form-group">
        <button type="submit" class="btn btn-default">Inserir Produto</button>
    </div>
}
